* {
  font-family: Muli, "Helvetica Light", Arial, sans-serif;
  font-size: 16px;
  margin: 0%;
  padding: 0%;
  list-style: none;
}

@font-face {
  font-family: Acme;
  src: url(public/fonts/Acme-Regular.ttf);
}

@font-face {
  font-family: CabinSketch;
  src: url(public/fonts/LoversQuarrel-Regular.ttf);
}
.icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 5px;
  fill: "#6000ff";
}
.f-r {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.hover-cyan:hover {
  fill: #6000ff;
  color: #6000ff;
}
.container {
  width: 90vw;
  margin: auto;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: smaller;
}
#header-left {
  margin-left: min(0.1vw, 1rem);
}
.m-h-15 {
  margin-right: 15px;
  margin-left: 15px;
}
.m-v-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.m-h-5 {
  margin-right: 10px;
  margin-left: 5px;
}
.m-v-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}
.p-t-5 {
  padding-top: 5px;
}

.p-v-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-h-5 {
  padding-right: 10px;
  padding-left: 5px;
}
.hover-registriation:hover {
  fill: #6000ff;
}

#languageDropdownMenu {
  display: flex;
  position: absolute;
  top: -7%;
  right: 20vw;
  flex-direction: column;
  margin-right: 50px;
  font-size: 16px;
  cursor: default;
  z-index: 9999999999;
}
#languageActiveButton {
  border-radius: 5px;
  border: 1px solid #6000ff;
  color: #6000ff;
  fill: #6000ff;
}

#languageActiveButton:hover {
  background-color: #6000ff;
  color: white;
  fill: white;
}

.languageButton {
  color: #6000ff;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
  height: 30px;
  width: 4rem;
}

.languageButton:hover {
  background-color: #6000ff;
  color: #fff;
  fill: #fff;
}

#languageInactiveButtons {
  display: none;
  position: absolute;
  margin-top: 35px;
  flex-direction: column;
  background-color: #eef1f0;
  border: 1px solid #6000ff;
  border-radius: 4px;
  /*  z-index:99999999999999;*/
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#navbar {
  height: 90px;
  margin-top: 10px;
  margin-inline: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#navbar-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
#navbar-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.upperCase {
  text-transform: uppercase;
}

.t-t-none {
  text-transform: none;
}

.jc-sb {
  justify-content: space-between;
}

.jc-se {
  justify-content: space-evenly;
}

.jc-sa {
  justify-content: space-around;
}

.main-color {
  color: #6000ff;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#more {
  display: flex;
  flex-direction: row;
}
.arrow-top {
  z-index: 9999999;
  margin-left: 25px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 0;
  border-bottom: 5px solid #fff;
}

#home {
  height: 600px;
  background-image: url(public/images/background.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: min(64vw, 100%), max(80%, 30vh);
  box-shadow: 0 2px 5px -2px gray;
}

.center {
  justify-content: "center";
  align-items: "center";
}

#moreDropdownMenu {
  display: none;
  z-index: 2;
  flex-direction: column;
  margin-top: 25px;
  position: absolute;
  right: 100;
}

.moreMenuOptions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  right: -15px;
  top: 9px;
  height: 60px;
  width: 180px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 10px;
}

.moreMenuOption {
  background-color: #fff;
  text-decoration: none;
  text-transform: none;
  width: 100%;
  height: 50%;
  padding: 5px;
}
.moreMenuOption:hover {
  background-color: #6000ff;
  color: white;
  text-transform: none;
}

.p-absolute {
  position: absolute;
}

.hover-white:hover {
  color: white;
}

.w-100 {
  width: 100%;
}

#cards {
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 2em;
}

.card {
  width: 250px;
  margin: auto;
  flex-direction: column;
}

.card-text {
  margin-top: 5%;
  width: 100%;
  height: 250px;
  text-align: center;
}

.m-b-15 {
  margin-bottom: 15px;
}

.w-80 {
  width: 80%;
}

.p-10 {
  padding: 10px;
}
.p-5 {
  padding: 5px;
}
.m-t-30 {
  margin-top: 30px;
}

.m-t-60 {
  margin-top: 60px;
}
.m-b-60 {
  margin-bottom: 60px;
}
.m-v-60 {
  margin-bottom: 60px;
  margin-top: 60px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-t-150 {
  margin-top: 150px;
}
#audioligy {
  background-image: url(public/images/audioligy.jpeg);
  background-position: cover;
  background-repeat: no-repeat;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.gallery_photo {
  width: 300px;
  height: 215px;
  /*  margin-inline: auto;*/
  margin-top: 15px;
  border-radius: 15px;
  background-color: #6000ff;
}

.videos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.video {
  min-width: max(40vw, 200px);
  min-height: max(20vw, 200px);
  border-radius: 15px;
}

.f-w {
  flex-wrap: wrap;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.service-img {
  max-width: 200px;
  max-height: 200px;
}
.about_us-img {
  max-width: 80vw;
  max-height: max(30vw, 200px);
}

.menu-icon {
  position: absolute;
  display: none;
  right: 0rem;
  z-index: 9999;
}

.menu-icon-svg {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  stroke: #6000ff;
}

.capitalize {
  text-transform: capitalize;
}

#m-navbar {
  position: absolute;
  display: none;
  flex-direction: column;
  margin-top: 5rem;
  background-color: #eef1f0;
  border: 1px solid #6000ff;
  right: 0.5rem;
  top: -1rem;
  z-index: 999999999999;
  border-radius: 0.5rem;
}

.m-navbar-option:first-child {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.m-navbar-option:last-child {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.m-navbar-option {
  padding: 1rem;
  padding-right: 3rem;
  color: #6000ff;
  font-size: 16px;
}

.m-navbar-option:hover {
  color: #eef1f0;
  background-color: #6000ff;
}

@media only screen and (min-width:641px) and (max-width:1007px){
  #home {
    height: 35rem;
    background-position: center;
    background-size: 100%, 90%;
  }
  #header-left {
    display: none;
  }
  #navbar {
    display: flex;
    flex-direction: column;
  }
  #navbar-left {
    display: none;
  }
  #navbar-right {
    display: none;
  }

  #tashkent {
    display: none;
  }
  #languageDropdownMenu {
    top: -1.5em;
    left: 0.5em;
    margin-right: 0;
  }
 
  .m-b-30 {
    margin-bottom: 15px;
  }
  .m-b-15 {
    margin-bottom: 5px;
  }
  .menu-icon {
    display: block;
    top: 0;
    padding-right: 0.5em;
    padding-top: 0.5rem;
  }
}

@media only screen and (max-width: 640px) {
  * {
    font-size: 12px;
  }
  #header-left {
    display: none;
  }
  #navbar {
    display: flex;
    flex-direction: column;
  }
  #navbar-left {
    display: none;
  }
  #navbar-right {
    display: none;
  }

  #tashkent {
    display: none;
  }
  #languageDropdownMenu {
    top: -1.5em;
    left: 0.5em;
    margin-right: 0;
  }
  #home {
    height: 35rem;
    background-position: center;
    background-size: 100%, auto;
  }
  .m-b-30 {
    margin-bottom: 15px;
  }
  .m-b-15 {
    margin-bottom: 5px;
  }
  .menu-icon {
    display: block;
    top: 0;
    padding-right: 0.5em;
    padding-top: 0.5rem;
  }
}
