* {
  font-family: Muli, "Helvetica Light", Arial, sans-serif;
  margin: 0%;
  padding: 0%;
}

@font-face {
  font-family: Muli;
  src: url(public/fonts/muli/Muli-Light.ttf);
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-left: 5px;
  fill: "#6000ff";
}
.f-r {
  display: flex;
  flex-direction: row;
}
.hover-cyan:hover {
  fill: #6000ff;
  color: #6000ff;
}
.container {
  width: 91vw;
  margin: auto;
}

.center {
  align-items: center;
  justify-content: center;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: smaller;
}
.m-h-15 {
  margin-right: 15px;
  margin-left: 15px;
}
.m-v-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.m-h-5 {
  margin-right: 10px;
  margin-left: 5px;
}
.m-v-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}
.p-t-5 {
  padding-top: 5px;
}

.p-v-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.p-h-5 {
  padding-right: 10px;
  padding-left: 5px;
}
.hover-registriation:hover {
  fill: #6000ff;
}

#header-left{
  margin-left: 100px;
}

#languageDropdownMenu {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  font-size: 16px;
  cursor: default;
  width: 80px;
}
#languageActiveButton {
  border-radius: 5px;
  border: 1px solid #6000ff;
  color: #6000ff;
  fill: #6000ff;
}

#languageActiveButton:hover {
  background-color: #6000ff;
  color: white;
  fill: white;
}

.languageButton {
  color: #6000ff;
  text-align: center;
  /* border-radius: 5px; */
  padding-right: 5px;
  padding-left: 5px;
  height: 30px;
  width: 80px;
}

.languageButton:hover {
  background-color: #6000ff;
  color: #fff;
  fill: #fff;
}

#languageInactiveButtons {
  display: none;
  position: absolute;
  margin-top: 35px;
  flex-direction: column;
  background-color: #eef1f0;
  border: 1px solid #6000ff;
  border-radius: 5px;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#navbar {
  height: 90px;
  margin-top: 10px;
  align-items: center;
}

.upperCase {
  text-transform: uppercase;
}

.t-t-none {
  text-transform: none;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.main-color {
  color: #6000ff;
}

#navbar a {
  text-decoration: none;
  color: black;
}

#more {
  display: flex;
  flex-direction: column;
}
.arrow-top {
  z-index: 9999999;
  margin-left: 25px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 0;
  border-bottom: 5px solid #fff;
}

#home {
  height: 600px;
  width: 100vw;
  background-image: url(public/images/background.png);
  background-size: 1000px 1000px;
  background-repeat: no-repeat;
  background-position: 0px -110px;

}

#moreDropdownMenu {
  display: none;
  z-index: 2;
  flex-direction: column;
  margin-top: 25px;
  position: absolute;
  right: 100;
}

.moreMenuOptions {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; 
  right: -15px;
  top: 9px;
  height: 60px;
  width: 180px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 10px;
}

.moreMenuOption{
  background-color: #fff;
  text-decoration: none;
  text-transform: none;
  width: 100%;
  height: 50%;
  padding: 5px;
}
.moreMenuOption:hover {
  background-color: #6000ff;
  color: white;
  text-transform: none;
}

.p-absolute {
  position: absolute;
}

.hover-white:hover{
  color: white;
}

w-100{
  width: 100%;
}